﻿@model IEnumerable<bookStore_WEB.DAL.Books>
@{ ViewBag.Title = "Search Result"; Layout = "~/Views/Shared/_FrontLayout.cshtml"; }
<style>
    .servicesBox .servicesImg img {
        height: 172px;
        width: 270px;
    }

    .DservicesImg img {
        height: 162px;
        width: 254px;
    }

    .FilterBox {
        max-height: 200px;
        overflow: auto;
    }
</style>

<div class="homeSlider">
    <div class="bannerSlider" style="background: url(../content/images/bookstorebanner.jpg) no-repeat center center;">
    </div>
    <div class="searchOnline clearfix">
        <div class="container">
            <div class="olContent fl"><h2>Search Books</h2></div>

        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div id="dvFilterSearch">
            <div class="mainHouse">
                <div class="container">
                    <div class="housekeeping clearfix">
                        <div class="housekeepingLeft fl">
                            <h1>
                                @ViewBag.searchKey &nbsp;
                                <span>@(!string.IsNullOrEmpty(ViewBag.searchKey) ? "I" : "")  &nbsp; @(Model != null ? Model.Count() : 0) records found</span>
                            </h1>
                        </div>
                        <div class="housekeepingRight fr" id="divFilter">
                            <div class="housekeepingInput">
                                <input type="text" placeholder="Enter Keywords" class="houseComn" id="searchKey" name="searchKey" value="@ViewBag.searchKey" onkeypress="return onlynumericOrCharacter();">
                            </div>
                            <div class="housekeepingSearch">
                                <button type="button" class="housesearchBtn" onclick="$(this).parent().parent().submit();">
                                    <img src="/Content/images/searchIcon.png" alt="img" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainServices clearfix">
                <div class="container">
                    <!-- Start servicesRight-->
                    <div class="servicesRight">
                        @if (Model.Count() > 0)
                        {<!--Start pricelowHigh-->
                            <div class="pricelowHigh clearfix">
                                <!--Start Services Man-->
                                <div class="tabContent" id="tab1">
                                    <div class="servicesPerson clearfix">
                                        <ul class="prsonList">
                                            @foreach (var item in Model)
                                            {
                                                <li>
                                                    <div class="col-md-12">
                                                        <div class="col-sm-4">
                                                            <!--Start ServicesBox-->
                                                            <div class="servicesBox">
                                                                <div class="servicesImg">
                                                                    @if (File.Exists(Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["ProductImage"] + "/Medium/" + item.BookId + "_" + item.ProductImage)))
                                                                    {
                                                                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage"]+"/Medium/"+item.BookId+ "_"+item.ProductImage)" alt="img">
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage_Default"])" alt="img">
                                                                    }
                                                                </div>
                                                                <div class="nameLink">
                                                                    <a title="View Product" href="/Home/productDetail?pId=@item.BookId">@item.BookName</a>
                                                                    <div class="byperson clearfix">
                                                                        @*<h3>Category: @item.CategoryName</h3>*@
                                                                        <h3>Author: @item.Author</h3>

                                                                    </div>
                                                                    <div class="byperson clearfix">
                                                                        <h3>ISBN: @item.ISBN</h3>
                                                                    </div>
                                                                    <div class="rate clearfix">
                                                                        <span class="fl">Price</span>
                                                                        <span class="blueClr fr">@item.Price</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--End ServicesBox-->
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>                                     <!--End ServicesBox-->
                                    </div>                                 <!--End Services Man-->
                                </div>
                            </div> }
                        else
                        { <div class="tabContent" id="tab3">
                                <!--Start Services Man-->
                                <div class="clearfix">
                                    <!--Start detailServicesBox-->
                                    <div class="detailservicesBox clearfix">
                                        <div style="background-color: #fff; text-align: center; padding: 40% 0; ">
                                            <h2>No Records found</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>         <br />         <!--Start main services-->
        </div>
    </div>
} <!--End main services-->
@section Scripts{
    <script type="text/javascript">
         @*$(document).ready(function () {
            debugger
        if('@TempData["ProductAddedToCart"]'!='')
        {
         swal('@TempData["ProductAddedToCart"]', '', 'success');
        }
        });
      $('#searchKey').keydown(function (e) {
        if (e.keyCode == 13) {
        $('#dvFilterSearch').parent().submit();
        }
         })*@
    </script>
}
