﻿@model bookStore_WEB.DAL.Books
@using bookStore_WEB.DAL
@{ ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    List<bookStore_WEB.DAL.Books>
        SimilarProducts = (List<bookStore_WEB.DAL.Books>
            )ViewBag.SimilarProducts;
}
<style>
    .servicesList .servicesBox .servicesImg img {
        height: 145px;
    }
</style> <!--Start product Details--> <div class="servicefinal">
    <div class="container">
        <div class="servicefinalLeft fl">
            <!--Start servicesdetailsBox-->
            <div class="servicesdetailsBox">
                @if (File.Exists(Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["ProductImage"] + "Large/" + Model.BookId + "_" + Model.ProductImage)))
                {
                    <img src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage"] + "Large/" +Model.BookId+ "_" + Model.ProductImage)" /> 
                }
                else
                {
                    <img src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage_Default_Large"])" alt="" />
                }
                <div class="inrfinalServices">
                    <h2>@Model.BookName</h2>
                    @*<h3>@Model.Tbl_Category.CategoryName</h3>*@
                </div>
            </div>
            <!--End servicesdetailsBox-->
            <!--Start Description-->
            <div class="description">
                <!--Start aboutMe-->
                <div class="aboutMe">

                    <h1 class="prfHeading">Description</h1>
                    <div class="profInnerBox innerbox1">
                        @Html.Raw(Model.Description)
                        <br /><br />
                              <h2 class="prfHeading">Author: @Html.Raw(Model.Author)</h2>
                        
                    </div>
                </div>                 <!--End aboutMe-->
            </div>             <!--End Description-->
        </div>
        <div class="servicefinalRight fr">
            <!--Start Add product to cart-->
            <div class="bookaService">
                <span>Price</span>
                <strong>@Model.Price</strong>
                <a href="#" class="bookreviewBtn" type="button">Add to cart</a>
            </div>
            <!--End Add product to cart-->
            <!--Start Similar Products-->
            <div class="favorite">
                <div class="othersViewed"><span>Similar Products</span></div>
            </div>             <div class="viewList">
                <ul class="servicesList">
                    @if (SimilarProducts.Count > 0)
                    {
                        foreach (var ov in SimilarProducts)
                        {
                            <li>
                                <!--Start ServicesBox-->
                                <div class="servicesBox">
                                    <div class="servicesImg">
                                        @if (File.Exists(Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["ProductImage"] + "Medium/" + ov.BookId + "_" + ov.ProductImage)))
                                        {
                                            <img src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage"] + "Medium/" + ov.BookId + "_" + ov.ProductImage)" />
                                        }
                                        else
                                        {
                                            <img src="/images/No Photo.png" alt="" />
                                        }
                                    </div>
                                    <div class="nameLink">
                                        <a href="/Home/productDetail?pId=@ov.BookId" title="View product details">@ov.BookName</a>
                                        <div class="byperson clearfix">
                                            <div class="prsonLeft fl"><h3>Category : </h3></div> @*@ov.Tbl_Category.CategoryName*@
                                        </div>
                                    </div>
                                    <div class="rate clearfix">
                                        <span class="fl">Price</span>
                                        <span class="blueClr fr">@ov.Price</span>
                                    </div>
                                </div>                                 <!--End Similar Products-->
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            No similar products
                            <div class="servicesBox">
                            </div>
                        </li>
                    }
                </ul>                 <!--End list-->
            </div>
        </div>
    </div>
</div> <!--End product Details-->
