﻿
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    @if (!string.IsNullOrEmpty(ViewBag.MetaKeywords))
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords">
    }
    @if (!string.IsNullOrEmpty(ViewBag.MetaPhrase))
    {
        <meta name="phrase" content="@ViewBag.MetaPhrase">
    }
    @if (!string.IsNullOrEmpty(ViewBag.MetaDescription))
    {
        <meta name="description" content="@ViewBag.MetaDescription">
    }
    <!--css-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/Content/CSS/stylesheet.css" media="all">
    <link rel="stylesheet" href="/Content/CSS/owl.carousel.css">
    <link href="~/Content/CSS/CustomStyleSheet.css" rel="stylesheet" />
    <link href="/Content/CSS/sweetalert.css" rel="stylesheet" />
    @RenderSection("Content/CSS", false)
    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <!--css-->
    <title> @ViewBag.MetaTitle </title>
    <style>
        footer {
            text-align: center;
            padding: 3px;
            background-color: gray;
            color: white;
        }
    </style>
</head>

<body class="@((Request.Url.AbsolutePath.ToLower() != "/" && Request.Url.AbsolutePath.ToLower() != "/home" && Request.Url.AbsolutePath.ToLower() != "/home/index") ? "bgColor" : "")">
    <!--Start main Container-->
    <div class="mainCon">
        <!--Start Header-->
        <header class="clearfix">
            <div class="browseCategories">
                <button type="button" class="categoriesBtn"><img src="/Content/Images/toggleIcon.png" alt="img" /><span>Browse Categories</span></button>
            </div>
            <div class="logoBar"><a href="/home/index">Book Store</a></div>
            <div class="menuBar">
                <div class="menuMobile">
                    <ul>
                        @if (Session["MemberId"] != null)
                        {
                            <li>Hello @(Request.Cookies["MemberName"] != null && !string.IsNullOrEmpty(Request.Cookies["MemberName"].Value) ? Request.Cookies["MemberName"].Value : "User")</li>
                            <li><a href="#">Cart Items</a></li>
                            <li><a href="#">Logout</a></li>
                        }
                        else
                        {
                            <li><a href="javascript:void(0)" class="loginpopup">Login</a></li>
                            <li><a href="#">Sign Up</a></li>
                        }
                    </ul>
                </div>
            </div>
        </header>



        <!--End Header-->
        @RenderBody()

    </div>
    <footer>
        <p>
            Developed by: Mohd. Rehbar Sheikh<br>
            <a href="mailto:sheikh.rehbar@gmail.com">sheikh.rehbar@gmail.com</a>
            <br>
            Mobile: +91 9766959596
        </p>
    </footer>
    <!--script-->

    <script src="/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/Scripts/function.js"></script>
    <script src="~/Scripts/CustomFunction.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/sweetalert-dev.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/datepicker.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
